{% extends "base.html" %}

{% block content %}

{% include "carousel.html" %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
        <th scope="col">닉네임</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      {% for question in question_list %}
      <tr>
        <th scope="row">{{question.id}}</th>
        <th scope="row"><a href="{{url_for('board.board_detail', question_id=question.id)}}">{{question.subject}}</a></th>
        <th scope="row">{{question.content}}</th>
        <th scope="row">{{question.nickname}}</th>
        <th scope="row">{{question.create_date}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <a href="{{url_for('board.create')}}">질문등록</a>
{% endblock %}